@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Permanent+Marker&display=swap');

:root {
  --primary: rgb(30, 30, 59);
  --primary-hover: rgba(30, 30, 59, 0.8);
  --primary-disable: rgba(30, 30, 59, 0.5);
  --hr: rgba(0, 0, 0, 0.205);
}
html,
body {
  color: var(--primary);
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
header {
  height: 250px;
  position: relative;
}
.bg-image {
  background-image: url('../img/board.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
}
.bg-filtre {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  position: absolute;
  width: 100%;
}
.bg-text {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
h1 {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  padding: 1rem 2rem;
}
main {
  display: flex;
  flex-direction: column;
}
section {
  text-align: center;
  padding: 1rem;
}
h2 {
  color: var(--primary);
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  margin-bottom: 1.3rem;
}
#new-task {
  display: flex;
}
#new-task_input {
  font-family: 'Oxygen', sans-serif;
  flex-grow: 1;
  height: 100%;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
}
#submit_button {
  background-color: var(--primary);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: 'Permanent Marker', cursive;
  transition: background-color 150ms ease-in-out;
  padding: 0.5rem 1rem;
}
#submit_button:hover {
  background-color: var(--primary-hover);
}
#submit_button:disabled {
  background-color: var(--primary-disable);
}
#incomplete-tasks,
#completed-tasks {
  background-color: rgba(30, 30, 59, 0.1);
  border-radius: 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  height: 170px;
  overflow: auto;
}
.important-task {
  color: rgb(129, 15, 15);
  font-weight: 700;
}
.complete-task {
  color: rgb(177, 177, 177);
  text-decoration: line-through;
}
ul {
  padding: 1rem;
}
ul li {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
li span {
  margin-right: 1rem;
  -ms-word-break: break-word;
  word-break: break-word;
}
li div {
  flex-shrink: 0;
}
li button {
  background-color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 0.2rem 0.5rem;
  transition: background-color 150ms ease-in-out;
}
li button:hover {
  background-color: var(--primary-hover);
}
.hr {
  background-color: var(--hr);
  border: 0;
  height: 1px;
  max-width: 50%;
  width: 200px;
}

footer {
  align-items: center;
  background-color: var(--primary);
  color: white;
  display: flex;
  height: 50px;
  justify-content: center;
}
@media screen and (min-width: 700px) {
  main {
    margin: auto;
    max-width: 70%;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  main {
    margin: auto;
    max-width: 50%;
    width: 100%;
  }
}
